<span align="center"><h1>Signup here</h1></span>
<div class="container" width:"500px">

<%= form_for :user do |f| %>
	<%= f.text_field :name, placeholder:'Name' %>
  <%= f.text_field :email, placeholder:'Email' %>
  <%= f.password_field :password, placeholder: 'Password' %>

  <%= f.submit 'Signup' %>

  </div>
<!--   //instead of f.primary (bootstrap)  -->

<% end %>